MONGO_ROOT_USERNAME=your_username_here
MONGO_ROOT_PASSWORD=your_password_here
MONGO_DATABASE=your_database_here

MONGO_NON_ROOT_USERNAME=your_non_root_username_here
MONGO_NON_ROOT_PASSWORD=your_non_root_password_here
